
.Test {
    text-align: center;
    h2 {
        color: blue;
    }
    .rate1{
        width: 43px;
        height: 44px;
        background: url("../assets/output-onlinepngtools.png") -96px 0;
    }

    .rate2{
        width: 43px;
        height: 44px;
        background: url("../assets/output-onlinepngtools.png") -156px 0;
    }
    // .mybg{
    //     width: 203px;
    //     height: 200px;
    //     background: url("./6571f263eac80911ce25fcae206af084.png");
    // }
}
