.Admin_detail_res {

  .content {
    /* //background-image: linear-gradient(to bottom right, #ede7f6, #c5cae9); */
    margin-bottom: 50px;
    padding-top: 0.01px;
    padding-bottom: 0.01px;
    width: 100%;
  }



  .content {
    min-height: 700px;
    color: black;
    display: block;
  }

  table {
    width: 96%;
    margin: 2%;
    border-spacing: 6px;
    border-collapse: separate;
  }

  .filter th,
  .filter td {
    text-align: left;
  }

  .data .heading {
    text-align: left;
    font-size: 25px;
  }


  /* tr,
  tr td {
    text-align: center;
  } */
  .opt_hed * {
    color: #003c8f;
  }

  .adm_btns,
  .adm_btns td {
    text-align: left;
  }

  .heading {
    font-size: 25px;
    margin-left: 0;
    text-align: center;
  }

  .content hr {
    background-color: white;
    padding-top: 10px;
    width: 110%;
    position: relative;
    left: -5%;
  }

  .result {
    background-color: white;
  }

  .error {
    color: red;
    padding: 5px;
    font-size: 20px;
  }

  ::placeholder {
    color: rgb(185, 185, 185);
    font-weight: 100;
    font-size: 15px;
  }

  input[type="button"] {
    margin-left: 0px;
    margin-right: 20px;
  }

  table .del_btns {
    display: none;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  .filter tr {
    vertical-align: top;
  }

  .result td {
    max-width: 100px !important;
  }

  .sect {
    margin: 0;
    padding: 0;
    margin-right: 15px;
  }

  .table td,
  .table th {
    padding: 0px;
    vertical-align: bottom;
    border-top: 0px;
  }
  .allchart{
    display: table;
    background-color:white; 
    margin-left:auto;
    margin-right:auto;  
  }

  #pieChart1 div{
    float: left;
  }

  .chart {
    width: 100%;
    float: right;
    margin-left:auto;
    margin-right:auto;  
  }

  // .chart div{
  //   width: 50%;
  // }

  .chart1{
    float: left;  
  }
  .chart2{
    float: right;
    // width:100px;
    // height:200px;
  }
  .code_result td{
    vertical-align: top;

  }

  @media only screen and (max-width: 900px) {
    .chart2{
      float: left;
    }
  }
  

}