.Examstart {
	text-align: center;

	button {
		background-color: rgb(201, 197, 197);
		color: black;
		padding: 10px 10px;
		font-size: 15px;
		border-radius: 8px;
		margin: 5px;
		cursor: pointer;
	}

	p {
		padding: 0px 0px 0px 40px;
		font-family: times New Roman;
		font-size: 17px;
		text-align: justify;

	}

	#title {
		font-size: 25px;

		text-align: center;
		font-weight: bold;

	}

	#start {
		text-align: center;
		font-size: 17px;
		margin: 30px 0px 0px 0px;

	}

	#logout {
		position: absolute;
		top: 2%;
		right: 2%;
	}

	.content {
		background-color: rgb(236, 240, 241);
		margin: 5% 10% 0% 10%;
		box-shadow: 0px 0px 10px gray;
		padding: 10px 0px 0px 0px;
		text-align: center;
		position: absolute;
		width: 900px;
		height: 500px;
		left: 80px;
		top: 45px;

	}

	.container {
		background-color: #fafafa;
		margin-top: 0px;
		margin-left: 0px;
		width: 100%;
		height: 680px;
	}

	.logo {
		margin-bottom: 10px;
		margin-left: 50px;
		width: 200px;
		height: 70px;
	}

	#ins {
		font-size: 20px;
		text-align: initial;
		font-weight: bold;
		text-align: center;
	}
	.mcq{
		float: left;
		width: 400px;
		margin-left: 20px;
	}
	.coding{
		float: right;
		width: 400px;
		margin-right: 45px;
	}
}