.Vishdesign {

   // loginPage-background
   .loginBg {
      width: 100%;
      min-height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background: #72789C;
      background-position: center;
      position: fixed;
      z-index: -100;
   }

   .rightTopContainer {
      display: block;
      position: relative;
      background: #72789C;
      height: fit-content;
   }

   .loginForm {
      background: #72789C;
      border-radius: 8px;
      height: 80vh;
      margin-top:15vh;
      margin-right: 10vw;
      margin-left: 5vw;
      text-align: center;
      position: relative;
   }

   .svg_bg{
      position: absolute;
      left: 0;
      // z-index: -10;
   }

   .svgForm {
      fill: #FFFFFF;
   }

   .svgFormFold {
      fill: #F6F7FB;
      stroke: grey;
      stroke-width : 0.1;
      fill-Rule: evenodd;
   }

   .form {
      position: relative;
      background-color: #FFFFFF;
      z-index: 10;
      max-width: 350px;
      width: 350px;
      max-height: 520px ;
      height: 350px;
      top: 60px
   }

   .formDetails {
      padding: 10%;
   }

   .loginText {
      text-align: left;
      font-weight: bold;
      font-size: 25px;
   }

   .detailsText {
      text-align: left;
      font-size: 15px;
  }
  .btn_style {
     background-color: rgb(228, 58, 171)
  }
  .forgot-pwd { 
   // text-align: right !important;
   float: right;
  }
.logo {
   max-height: 520;
   max-width: 350;
   // background-color:#72789C;
   background-color:rgb(11, 226, 108);

   margin-top:15%;
   margin-left: 15%;

}
.greetings {
   background: #72789C;
   font-size: 45px;
   line-height: 95%;
}
  .description {
   background: #72789C;
   max-height: 520;
   max-width: 350;
   margin-top:25%;
   margin-left: 15%;
   // background-color:red;
   color:white;
   padding-left:10%;
  }
  .info{
     font-size: 18px;
  }
  .formBottom {
     background-color: green;
     position: relative;
     z-index: 10;
     max-height: 520px ;
     max-width: 350px;
     width: 350px;
  }
}