.Admin_que_set {

  html {
    background-color: #F6F7FB;
  }

  height: 100%;

  .row {
    height: max-content;
    background-color: #F6F7FB;
    min-height: 100%;
  }

  #category {
    width: 100%;
  }

  .main_body {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #F6F7FB;
  }

  .header {
    width: 100%;
  }

  .exam_options {
    margin-top: 20px;
    background-color: #FFFFFF;
    margin-right: 25px;
    margin-bottom: 25px;
    height: 100%;
    padding: 12px;
    width: 100%;
    box-shadow: 0 5px 5px -6px;
    border-radius: 10px;
  }

  .code_pop{
    margin-top: 50px;
    background-color: #F6F7FB;
    margin-right: 25px;
    margin-bottom: 25px;
    height: 100%;
    width: 100%;
  }
  .pop_code{
    margin-top: 20px;
    background-color: #FFFFFF;
    margin-right: 25px;
    margin-bottom: 25px;
    height: 100%;
    padding: 12px;
    width: 100%;
    box-shadow: 0 5px 5px -6px;
    border-radius: 10px;
  }
  .mins_code {
    margin-left:5px;
    position: relative;
    top: -15px;
  }

  .exam_text1 {
    float: left;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    margin-top: -8px;
    line-height: 120%;
  }

  .exam_text2 {
    float: left;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-top: -8px;
    line-height: 120%;
  }

  #populate_exam1 {
    float: right;
    width: 150px;
    outline: none;
    color: white;
    background-color: #E5277E;
    border-radius: 10px;
    border: solid 2px #E5277E;
    padding: 8px;
    font-weight: bold;
    height: 40px;
    font-size: 15px;
  }

  td input {
    border: solid 2px #E9EBF8;
    outline: none;
    height: 40px;
  }

  td input:focus {
    border: solid 2px #E5277E;
  }

  #exam {
    width: 175px;
    position: relative;
    top: -15px;
    border: solid 2px #E9EBF8;
    outline: none;
    height: 40px;
  }
  #exam1 {
    width: 175px;
    border: solid 2px #E9EBF8;
    outline: none;
    height: 40px;
    position: relative;
    top: -15px;
  }
  .no_Que ,.dur_exam{
    position: relative;
    top: -15px;
  }

  #exam:focus,#exam1:focus {
    outline: none;
  }

  .mins {
    font-size: 15px;
    padding-left: 0px;
    position: relative;
    top: -15px;
    right: 48%;
  }

  #dur {
    height: 40px;
    outline: none;
    width: 100px;
    position: relative;
    top: -15px;
    right: 48%;
  }

  .table td,
  .table th {
    border-top: 0px;
  }

  .check {
    width: 50px !important;
    float: left;
  }

  .checked {
    font-size: 14px;
  }

  .entryNumber {
    width: 65px;
    height: 35px;
  }

  .container1 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 10px;
    width: 10px;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container1:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container1 input:checked~.checkmark {
    background-color: #E5277E;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container1 input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .remaining,.remaining1{
    position: relative;
    top: 6px;
  }
  .total_que{
    position: relative;
    font-size: 16px;
    top: -13px;
    left: 5px;
  }
  .plus_icon {
    margin-top: -2px;
    margin-right: 2px;
}
}