.Admin {

    .container {
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .row {
        height: 100%;
        background-color: #F7F8FC;
    }
    .data {
        background-color: #F7F8FC;
    }
     

    table {
        width: 100%;
        background-color: #FFFFFF;
    }



    tr td {
        text-align: center;
        padding: 10px;
    }

    .opt_hed * {
        text-align: left;
    }

    .adm_btns,
    .adm_btns td {
        text-align: left !important;
    }

    textarea {
        min-width: 100px;
        width: 100%;
        font-size: 18px;
        background-color: #F7F8FC;
        border-width:1px;
    }

    .formated_quetions {
        display: none
    }

    .progress {
        height: max-content;
        background-color: unset;
    }

    .progress pre {
        font-size: 12px;
    }

    .heading {
        padding-left: 0;
        width:400px;
    }
    button{
        width:150px;
        padding: 10px;
        color:white;
        background-color:#E63285;
        border-radius: 10px;
        padding: 8px;
        margin-top: 10px;
    }
    .Add {
        margin-top: 10px;
        margin-left: 691px;
        
    }
    input[type="text"] {
       width:300px;
       height:30px;
       background-color: #F7F8FC;
    }
    .file_upload {
        background-color: #FFFFFF;
        padding: 10px;
    }
    // input[type="file"] {
    //     width:150px;
    //     padding: 10px;
    //     color:white;
    //     border-radius: 10px;
    //     padding: 8px;
    //     margin-top: 10px;
    // }
    .upload_file {
        height:80px;
    }

    
    .upload {
        color:#E63285;
        background-color: #FFFFFF;
        border-color: #E63285;
    }
    #cat {
        background-color: #F7F8FC;
    }
    input[type="radio"]{
        // background-color: #E63285;
        
    } 
}