.Admin_view_result {
  height: 100%;

  .container {
    border-radius: 10px;
    // padding: 10px;
    height: 100%;
  }

  @media print {

    html *,
    .Admin_menu,
    .user_det,
    input,
    .no_display,
    .sel_exam {
      display: none !important;
    }

    .result * {
      visibility: visible;
    }

    .result {
      position: absolute;
      top: 40px;
      left: 10px;
    }
  }

  .heading {
    float: left;
    width: 35%;
    margin-top: 25px;
    font-size: 28px;
  }

  #first_table {
    position: relative;
    margin-top: 25px;
  }


  .row {
    height: 100%;
    background-color: #F6F7FB;

  }


  table {
    width: 100%;
  }

  .data h2 {
    text-align: left;
    color: #003c8f;
    margin-top: -50px;
  }

  .exam {
    background-color: #E9EBF8 !important;
    border: solid 2px #E9EBF8;
    min-width: 150px;
    padding-right: 0px;
    padding-left: 3px;
    outline: none;
  }

  .select_entry_text {
    float: left;
    margin-left: 15px;
  }

  .exam option {
    outline: none;
  }

  @media only screen and (max-width: 600px) {
    .data {
      margin: 0px;
      margin-top: 10px;
      max-width: 100%;
      width: 100%;
    }
  }

  .sel_exam {
    float: right;
    width: unset;
    margin-bottom: 40px;
  }

  .sel_exam span select {
    margin-right: 15px !important;
  }

  .table-bordered td,
  .table-bordered th {
    vertical-align: top;
    border-collapse: collapse;
    width:50px;

  }

  .table-responsive .table-bordered {

    border-collapse: collapse;
    margin-top: 20px;
  }

  /*  .table td, .table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6; 
    border-collapse: collapse;
}  */
  /*  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */


  .select_exam_text div {
    display: inline;
  }


  .details {
    display: table-cell;
    width: 2000px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 800px) {
    .select_exam_text div {
      display: block;
      float: left;
      margin-top: 5px;
    }

    .details {
      width: 100%;
      display: block;
    }
  }

  #myInput {
    background-color: #E9EBF8 !important;
    border: none;
    outline: none;
    // box-shadow: inset 0 0 4px;
  }

  .print_txt {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
  }

  // .download {
  //   display: none;
  //   margin-left: 20px;
  // }

  .intake {
    width: 80px;
    padding: 7px;
    width: 100%;
    background-color: #E9EBF8 !important;
    border: none;
    outline: none;
    margin-left: 15px;
  }

  .select_exam_interact {
    margin-top: 15px;
  }

  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 10px;
    width: 10px;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    // top: 0;
    // left: 0;
    height: 20px;
    margin-top: -6px;
    width: 20px;
    border-radius: 50px;
    background-color: #ccc;
  }

  /* On mouse-over, add a grey background color */
  .container1:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container1 input:checked~.checkmark {
    background-color: #E5277E;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container1 input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container1 .checkmark:after {
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .form-control {
    width: 336px;
  }

  .print {
    // float: right;
    position: relative;
    top: -51px;
    height: 40px;
    // left: 395px;
    border: none;
    outline: none;
    float: right;
  }

  button {
    width: 150px;
    padding: 10px;
    color: white;
    background-color: #E5277D;
    border-radius: 10px;
    padding: 8px;
    margin-top: 70px;
    font-weight: bold;
  }

  // .icon {
  //   // font-size: 20px;
  // }

  .download {
    // left: 391px;
    top: -51px;
    height: 40px;
    position: relative;
    border: none;
    float: right;
    outline: none;
  }

  .mob_overflow {
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 24px;
  }

  .del {
    position: relative;
    // left: 390px;
    top: -51px;
    float: right;
    // display: none;
    visibility: hidden;
    height: 40px;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 150px;
    background-color: #F6F7FB;
    color: #E5277E;
    border: solid 2px #E5277E;
    font-size: 15px;
  }

  .del_icon {
    margin-left: -10px;
    // font-size: 20px;
    margin-top: -3px;
  }

  .Exam_info {
    background-color: white;
    margin-right: 45px;
    height: 100px;
    padding: 10px;
    float: left;
    box-shadow: 0 5px 5px -6px;
    border-radius: 10px;
  }

  .del_user_btn {
    display: block;
    position: relative;
    left: 18px;
    border: none;
    outline: none;
  }
  #lets_see {
    box-shadow: 0 5px 5px -6px;
    border-radius: 10px;
  }

  .image {
    margin-left: 121px;
    width: 45px;
    height: 37px;
    position: relative;
    top: 45px;
    float: left;
  }

  .exam_info_text {
    position: relative;
    top: -36px;
  }

  .testLabel {
    position: relative;
  }
  .searchIcon {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}