
.Add_code {
    .container {
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    
     .row {
        height: 100%;
        background-color: #F6F7FB;
    }
    
     table {
        width: 100%;
    }

     tr td{
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    th {
        text-align: center;
    }
     .output {
        margin-left: 40px;
       padding-left: 54px;
       text-align: left;
     }
    
     textarea{
        background-color: #F7F8FC;  
      }
    .heading{
        vertical-align: 10px;
    }
    .code textarea{
        height:125px;
    }
    
    .prob textarea{
        height:60px;
    }
    .sample_input textarea{
        height:60px;
    }
    .test_input textarea {
        width:230px;
        height:40px;

    }
    .test_input {
        width:250px;

    }
    .heading_input {
        width:250px;
    }
    .btn{
    height: 37px;
    float: right;
    width: 132px;
    text-align: center;
    background-color: #E5277F;
    color: white;
    padding-bottom: 30px;
    border-radius: 12px;
    }
    .progress {
        height: max-content;
        background-color: unset;
    }

    .progress pre {
        font-size: 12px;
    }
    .output_heading{ 
    margin-left: 40px;
    text-align: left;
    padding-left: 54px;
}
.language{
text-align: left;
    padding-left: 19px;
}
.statement-heading{
padding-top: 20px;
}
.Code_format{
background-color:#FFFFFF
}
.data {
    background-color: #F6F7FB;
        margin-top: 10px;

}
.file_upload{
    background-color:#FFFFFF

}
.sect {
    margin-top: -26px;
    padding: 50px;
}
.Add {
    padding-top: 25px;
}
}

