.Admin_register {

    .file_upload div,
    .file_upload input {
        display: inline;
        margin: 10px;
    }

    .file_upload input {
        height: 35px;
        font-size: 16px;
    }

    .email_status {
        margin-top: 0;
        border-radius: 0px;
        text-align: left;
    }

    pre {
        background-color: rgb(236, 235, 235);
        border: solid 1px silver;
        min-height: 40px;
        padding: 5px;
    }

    .refresh_status {
        background-color: silver;
        width: 0%;
        min-height: 0px;
        height: 2px;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 99%;
    }

    .progress {
        height: max-content;
        background-color: unset;
    }
    input[type="number"]{
        margin-top:10px;
        max-width: 100%;
        background-color: #ECEBEB;

    }
    .form-control rname {
        margin-top: 50px !important;
        background-color: #ECEBEB;
    }
    .form-control remail {
        position:relative;
        margin-top: 10px;
        background-color: #ECEBEB;
    }
    .form-control mob{
        margin-top: 10px;
        background-color: #ECEBEB;
    }
    .register{
        position: relative;
        top:-67px;
        left: 44%;
        height: 40px;
        border-radius: 12px;
        border: none;
        outline: none;
        width: 150px;
        margin-top: -5px;
        margin-left: 100px;
        background-color: #E5277E;
        color: #F6F7FB;
        border: solid 2px #E5277E;
        font-size: 14px;
    }
    .row{
        background-color: #F6F7FB;
    }
    .sect{
        background-color: #FFFFFF;
        height: 400px;
    padding: 21px;
    width: 888px;
    margin-left: 44px;
    margin-top: 20px;
    }
    .server_side_resp{
        height: 159px;
    }
    .send {
        position: relative;
        top:-54px;
        left: 44%;
        height: 40px;
        border-radius: 12px;
        border: none;
        outline: none;
        width: 150px;
        margin-top: -5px;
        margin-left: 100px;
        background-color: #E5277E;
        color: #F6F7FB;
        border: solid 2px #E5277E;
        font-size: 14px;
    }
    .heading{
        font-size: 25px;
    }
    .email_status {
        height: 85px;
    }
    .credentials_sect{
        background-color: #FFFFFF;
        height: 449px;
      padding: 21px;
    width: 888px;
    margin-left: 44px;
    margin-top: 20px;
    }
    .cur_exam2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .upload_file {
        height:80px;
    }
    .upload {
        color:#E63285;
        background-color: #FFFFFF;
        border-color: #E63285;
    }
    button{
        width:150px;
        padding: 10px;
        color:white;
        background-color:#E63285;
        border-radius: 10px;
        padding: 8px;
        margin-top: 10px;
    }
    
}