.Admin_register {
    height: 100%;

    .row {
        height: max-content;
        // background-color: #F6F7FB;
        min-height: 100%;
    }

    .file_upload div,
    .file_upload input {
        display: inline;
        margin: 10px;
    }

    .file_upload input {
        height: 35px;
        font-size: 16px;
    }

    .email_status {
        margin-top: 0;
        border-radius: 0px;
        text-align: left;
        background-color: #E9EBF8;
        border: none;
        outline: none;
    }

    pre {
        background-color: #f9f9fa;
        border: solid 1px silver;
        min-height: 40px;
        padding: 5px;
    }

    .refresh_status {
        background-color: silver;
        width: 0%;
        min-height: 0px;
        height: 2px;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 99%;
    }

    .progress {
        max-height: 200px;
        height: max-content;
        background-color: unset;
    }

    input[type="number"] {
        margin-top: 10px;
        max-width: 100%;
        background-color: #ECEBEB;

    }

    .rname,
    .remail,
    .mob {
        border: none;
        outline: none;
    }

    .rname:focus,
    .remail:focus,
    .mob:focus {
        background-color: #E9EBF8;
    }

    .form-control rname {
        margin-top: 50px !important;
        background-color: #ECEBEB;
    }

    .form-control remail {
        position: relative;
        margin-top: 10px;
        background-color: #ECEBEB;
    }

    .form-control mob {
        margin-top: 10px;
        background-color: #ECEBEB;
    }

    .register {
        position: relative;
        top: 26px;
        left: 12px;
        /* left: 325px; */
        /* right: 0; */
        float: right;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        width: 150px;
        margin-top: -5px;
        margin-left: 100px;
        background-color: #E5277E;
        color: #F6F7FB;
        border: solid 2px #E5277E;
        font-size: 15px;
    }

    .row {
        background-color: #F6F7FB;
    }

    .sect {
        background-color: #FFFFFF;
        padding: 21px;
        margin-top: 20px;
        box-shadow: 0 5px 5px -6px;
        border-radius: 10px !important;
    }

    .server_side_resp {
        background-color: #E9EBF8;
        max-height: 150px;
    }

    .send {
        position: relative;
        top: 16px;
        left: 12px;
        /* left: 325px; */
        float: right;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        width: 150px;
        margin-top: -5px;
        margin-left: 100px;
        background-color: #E5277E;
        color: #F6F7FB;
        border: solid 2px #E5277E;
        font-size: 15px;
    }

    .heading {
        font-size: 20px;
    }

    .email_status {
        height: 85px;
    }

    .credentials_sect {
        background-color: #FFFFFF;
        height: 449px;
        padding: 21px;
        margin-top: 20px;
        box-shadow: 0 5px 5px -6px;
        border-radius: 10px !important;
        margin-bottom: 30px;
    }

    .cur_exam {
        border: none;
        outline: none;
        font-size: 12px;
    }

    .cur_exam2 {
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        outline: none;
        font-size: 12px;
    }

    .upload_file2 {
        color: #E5277E;
        background-color: #FFFFFF;
        border-color: #E5277E;
        border: solid 2px;
        outline: none;
        height: 40px;
        width: 150px
    }

    .upload {
        color: #E5277E;
        background-color: #FFFFFF;
        border-color: #E5277E;
        border: solid 2px;
        outline: none;
        height: 40px;
        width: 150px
    }

    #custom-button {
        color: #E5277E;
        background-color: #FFFFFF;
        border-color: #E5277E;
        border: solid 2px;
        outline: none;
        height: 40px;
        width: 150px
    }

    button {
        width: 150px;
        padding: 10px;
        color: white;
        background-color: #E5277E;
        border-radius: 10px;
        padding: 8px;
        margin-top: 10px;
        height: 40px;
        width: 150px
    }

    input[type="file"] {
        z-index: -1;
        position: absolute;
        opacity: 0;
    }

    input:focus+label {
        outline: 2px solid;
    }

    .linktodow {
        color: rgb(76, 76, 243);
    }

    .linktodow:hover {
        color: #E5277D;
    }

}